.Btn{
    background: linear-gradient(153deg, rgba(234,19,180,1) 0%, rgba(205,32,147,1) 45%, rgba(24,157,215,1) 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    font-size: 1rem; 
    font-weight: bold;
    border-radius: 0.25rem ;
    font-size: 1.1rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border: none;
    color: white;
}