@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.row {
    display: flex;
    background-color: #F4F0F0;
    /* width: 100%; */
    justify-content: space-between;
    /* border: 1rem #000 solid; */
    /* font-family: "Jersey 25", sans-serif; */

}

.row span{
    font-size: 1.75rem;
}
.i{
    display: flex;
    align-items: center;
    gap: 3rem;
    border-top:0.15rem #000 solid;
    border-bottom:0.15rem #000 solid;
    width: 130%;
    /* padding-left: 5rem; */
    /* justify-content: space-evenly; */
    /* font-size: ; */
    padding-left: 1rem;
    padding-right: 1rem;

}

.tags{
    /* padding-left: 5rem; */
    border-right: 0.25rem #000 solid;
    border-left: 0.25rem #000 solid;
    width: 70%;
}

.right{
    justify-content: space-evenly;

}