@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Settings */
:root{
  background: linear-gradient(110deg,
    #EA13B4 0%,#CD2093 25%, #B235B0 50%, #6768C3 75%, #189DD7 100%
  ) no-repeat;
  background-attachment: fixed;
  
}

@font-face {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-style: normal;
  src:  url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
}


/* Product page*/

.content-container{
  display : flex;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Client page */

.container-c{
  display: flex;
  justify-content: start;
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.50));
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgb(225, 225, 225); 
}

.container-table{
  margin: 2rem;
  height: 100%;
  width: 80%;
}

.info{
  display: flex;
  justify-content: center;
  height: 100%;
}

/* From Uiverse.io by kamehame-ha */ 
.coolinput {
  display: flex;
  flex-direction: column;
  width: 20rem;
  position: static;
  /* max-width: 240px; */
}

.coolinput label.text {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 10px;
  padding: 0 10px;
  background: #FFFCFE;
  width: fit-content;
}

.coolinput .input {
  padding:  4px;
  font-size: 1.5rem;
  border: 2px #C019A2 solid;
  border-radius: 5px;
  background: #FFFCFE;
}

.coolinput .input:focus {
  outline: none;
}