@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Settings */
:root{
  background: linear-gradient(110deg,
    #EA13B4 0%,#CD2093 25%, #B235B0 50%, #6768C3 75%, #189DD7 100%
  ) no-repeat;
  background-attachment: fixed;
  
}

@font-face {
  font-family: "JetBrains Mono", monospace;
  font-weight: 100;
  font-style: normal;
  src:  url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
}