@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.tag  div{
  /* font-family: "Jersey 25", sans-serif; */
  font-size: 1.25rem;
  text-align: center;
  color: #FFF;
  border-radius: 1rem;
  padding: 0.25rem;
  width: 9rem;
}

.tag h3{
  font-weight: bold;

}